@import "../../../styles/variables.scss";

.custom-header {
  padding: 0;
  background-color: white; 
}

.custom-content {
  margin: 24px 16px;
  padding: 24px;
  background-color: white; 
  border-radius: 8px; 
}

.profile-page {
  overflow-y: hidden;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.363);

  &__header-img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }

  &__header-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $text-color;
    font-size: 4em;
    font-weight: bold;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
    font-family: "Teko";
  }
}

.menu-sidebar {
  background-color: white !important;
  border-inline-end: 1px solid black;

  .ant-menu-item,
  .ant-menu-submenu,
  .ant-menu-sub {
    font-family: 'Gantari';
    color: black;
    background-color: white !important;
    border-radius: 0;

    span {
      font-size: 1.1em;
    }
    
    .anticon {
      font-size: 1.5em !important;
    }
  }

  .ant-menu-item,
  .ant-menu-submenu-title {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .ant-menu-item-selected {
    border-left: 3px solid $primary-color; 
  }

  &.ant-menu-light.ant-menu.ant-menu-root.ant-menu-inline {
    height: 40vh;
    border-inline-end: 1px solid rgba(73, 72, 72, 0.578);
  }
}

.menu2-sidebar {
  background-color: white !important;
  border-inline-end: 1px solid black;

  .ant-menu-item,
  .ant-menu-submenu,
  .ant-menu-sub {
      font-family: 'Gantari';
      color: black;
      background-color: white !important;

      border-radius: 0;

      span {
          font-size: 1.1em;
      }
      .anticon {
          font-size: 1.5em !important;
      }
  }
  .ant-menu-item,
  .ant-menu-submenu-title {
      margin-top: 1em;
      margin-bottom: 1em;
      
  }
  .ant-menu-item-selected {
      color: black;
      border-left: 3px solid white;
      background-color: transparent;
      
  }

  &.ant-menu-light.ant-menu.ant-menu-root.ant-menu-inline {
    
    border-inline-end: 1px solid rgba(73, 72, 72, 0.578);
  }
}
