@import "../../../../styles/variables.scss";

.header-dashboard {
  height: 7vh;
  padding: 0 2em;
  background-color: $secondary-color;
  &__header-control {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dash-info {
    justify-content: end;
  }

  &__title {
   font-family: $font-secondary;
   font-size: 1.1em;
  }
}
