@import "../../styles/variables.scss";

.thankyou-card {
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.363);

  &__header-img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }

  &__detail {
    position: relative;
height: 70vh;
    padding: 2em;
    text-align: center;

    &__img {
      position: relative;
      margin-top: -125px; /* Đẩy ảnh lên phía trên */
      display: flex;
      justify-content: center;

      img {
        width: 30%; /* Kích thước của ảnh */
        height: auto;
      }
    }

    &__details {
      margin-top: 3em;

      &__content {
        margin: 2em 0;
        &__upper {
          font-family: $font-secondary;
          color: $secondary-text-color;
        }
        &__lower {
          font-family: $font-secondary;
          color: $secondary-text-color;
        }
      }

      h1 {
        font-family: $font-secondary;
        margin-top: 1em;
      }

      &__button {
        margin-top: 3em;
        border-radius: 50px;
        width:11vw;
        height: 6vh;
        font-family: $font-secondary;
        font-weight: 600;
        font-size:1em;
      }
    }
  }
}
