//Color
$primary-color: #FAA300;
$secondary-color: #252525;
$text-color: #96885F;
$secondary-text-color: rgb(169, 168, 168);
$background-color: #f0f0f0;

//Fonts
$font-primary: 'Teko', sans-serif;
$font-secondary: 'Gantari', sans-serif;

