.footer {
  margin-top: 3em;
  padding: 0 4em;
  &__logo {
    margin-top: 0.3em;
    height: 4em;
    width: 15em;
  }

  &__item {
    font-family: "Gantari";

    &__title {
      font-size: 1em;
      margin-bottom: 1em;
    }

    &__content {
      font-size: 0.9em;
      color: rgb(125, 122, 122);
      cursor: pointer;
      line-height: 1.8em;
    }

    p:hover {
      color: black;
    }

    &__button {
        font-weight: bolder;
        height: 2.7em;
        margin-top:2em;
    }
  }
}
