@import '../../../../../styles/variables.scss';

.register-workshifts {
    padding: 3em;
    max-width: 500px;
    margin: 30px auto;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 20px;
    // margin-top: 10px;

   p {
        text-align: center;
        color: black;
        font-family: $font-secondary;
        font-size: 1.8em;
        margin-bottom:1.5em;
        font-weight: 600;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        color: $secondary-color;
        margin-bottom: 15px;
        font-family: $font-secondary;
       
    }

    fieldset {
        margin-bottom: 10px;
        border: none;

        label {
            margin-top: 15px;
            margin-right: 10px;
            color: $secondary-color;
            font-family: $font-secondary;
            font-style: italic;
        }

        .ant-checkbox-wrapper {
            margin-right: 10px;
        }
    }

    &__button {
        font-family: $font-secondary;
        font-weight: 600;
        margin-top:1em;
        border-radius: 10px;
    }
}