@import "../../../styles/variables.scss";

.profile-container {
  margin: 0 auto;
  background-color: #fff;
  width:100%;
}

.custom-content {
  margin: 0 0 0 6em !important;
  padding: 0 !important;
  background-color: white;
  border-radius: 8px;
}

.profile-form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.form-row {
  flex: 1 1 45%;
}

.form-row label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: $font-secondary;
}

.form-row input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: $font-secondary;
}

.update-btn {
  font-family: $font-secondary;
  padding: 10px;
  background-color: $primary-color;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 7vh;
  font-weight: bold;

}

.update-btn:hover {
  color: white;
  background-color: $secondary-color;
}

.form-detail {
  font-family: "Gantari";
  padding: 1em 0;
}

.update-profile {
  &__modal {
    width:950px !important;
    height: 70vh !important;

    .ant-modal-content {
      height: 40vh;

      .ant-btn-variant-outlined {
        color:black;
        margin-top:1.6em;
        font-family: $font-secondary;
      }
      .ant-btn-variant-outlined:hover {
        color:black;
        border-color: black;
      }

      .ant-btn-variant-solid {
        background-color: $primary-color;
        font-family: $font-secondary;
        color:black;
        font-weight: 400;
      }
      .ant-btn-variant-solid:hover {
        background-color: black;
        color:white;
        font-weight: 400;
      }
    }
  }
 
  

}