@import "../../../../styles/variables.scss";

.profile-container {
  margin: 0 auto;
  background-color: #fff;
  width: 100%;
  margin-top: 2em;
}

.custom-content {
  margin: 0 0 0 6em !important;
  padding: 0 !important;
  background-color: white;
  border-radius: 8px;
}

.profile-form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.form-row {
  flex: 1 1 45%;
}

.form-row label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: $font-secondary;
}

.form-row input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: $font-secondary;
}

.update-btn {
  font-family: $font-secondary;
  padding: 10px;
  background-color: $primary-color;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 7vh;
  font-weight: bold;
}

.update-btn:hover {
  color: white;
  background-color: $secondary-color;
}

.update-btn2 {
  font-family: $font-secondary;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 7vh;
  font-weight: bold;
}

.update-btn2:hover {
  color: black;
  background-color: $primary-color;
}

.form-detail {
  font-family: "Gantari";
  padding: 1em 0;
}

.update-profile {
  &__modal {
    width: 950px !important;
    height: 70vh !important;

    .ant-modal-content {

      .ant-btn-variant-outlined {
        color: black;
        margin-top: 1.6em;
        font-family: $font-secondary;
      }
      .ant-btn-variant-outlined:hover {
        color: black;
        border-color: black;
      }

      .ant-btn-variant-solid {
        background-color: $primary-color;
        font-family: $font-secondary;
        color: black;
        font-weight: 400;
      }
      .ant-btn-variant-solid:hover {
        background-color: black;
        color: white;
        font-weight: 400;
      }
    }
  }
}

.reset-password {
  &__modal {
    &__container {
      line-height: 2.5em;
     
      &__form {
        
        line-height: 2em;
        label {
          font-family: $font-secondary;
          font-weight: 600;
        }
        &__input {
          border-radius: 5px;
          height: 5vh;
          width: 100%;
          padding-left: 0.6em;
          font-family: $font-secondary;
        }
      }

      &__button {
       border-radius: 6px;
       height: 4vh;
       width:5vw;
       margin-top:1em;
       font-weight: 600;
       cursor:pointer;
       font-family: $font-secondary;
       background-color:  $primary-color;
       border-color: $primary-color;
      }

      &__button:hover {
        color:white;
        background-color: black;
        border-color:black;
      }

      &__button2 {
       border-radius: 6px;
       height: 4vh;
       width:6vw;
       margin-top:1.4em;
       font-weight: 600;
       cursor:pointer;
       font-family: $font-secondary;
       background-color:  $primary-color;
       border-color: $primary-color;
      }

      &__button2:hover {
        color:white;
        background-color: black;
        border-color:black;
      }
    }
    .ant-modal-content {
      .ant-btn-variant-outlined {
        color: black;
        font-family: $font-secondary;
      }
      .ant-btn-variant-outlined:hover {
        color: black;
        border-color: black;
      }

      .ant-btn-variant-solid {
        background-color: $primary-color;
        font-family: $font-secondary;
        color: black;
        font-weight: 400;
      }
      .ant-btn-variant-solid:hover {
        background-color: black;
        color: white;
        font-weight: 400;
      }
    }
  }
}

.error-message {
  color: red;
  font-family: $font-secondary;
}
